*.py[co]
*.DS_*
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

venv
*.pyc
build
.idea/

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
# cache
/cache/*